@font-face {
  font-family: "QuattroBold";   /*Can be any text*/
  src: local("Quattrocento-Bold"),
    url("./fonts/Quattrocento-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "QuattroRegular";   /*Can be any text*/
  src: local("Quattrocento-Regular"),
    url("./fonts/Quattrocento-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "InterRegular";   /*Can be any text*/
  src: local("inter-Regular"),
    url("./fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "InterMedium";   /*Can be any text*/
  src: local("inter-Medium"),
    url("./fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "InterBold";   /*Can be any text*/
  src: local("inter-Bold"),
    url("./fonts/Inter-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'QuattroRegular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
  width:100%;
  height:100%;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  width:100%;
  height:100%;
}


h1 {
  font-family: "InterBold";
  color: #f2f2f2;
}

h5 {
  color: #f2f2f2;
  /* font-size: 15px; */
  font-family: "InterBold";
}

p {
  color: #f2f2f2;
}

section {
  background-color: #212529;
  /* height: 100vh; */
}

.navSection{
  padding-top: 1%;
}

/* Style the links inside the navigation bar */
.navBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: "InterBold";
}

/* Change the color of links on hover */
.navBar a:hover {
  color: #FFB742;
}

/* Add a color to the active/current link */
.navBar a.active {
  color: #FFB742;
}

.navButton {
  background-color: #FFB742;
  color: black;
  font-family: "InterBold";
  border-radius: 50px;
  border: none;
  text-decoration: none;
  /* width: 100px; */
  height: 40px;
}

.navButton p {
  padding-top: 6px;
  color: black;
  font-size: 14px;
}

.homeSection {
  text-align: center;
  padding-top: 4%;
}

.homeSection img {
  margin-top: -3%;
}

.homeCard {
  flex-wrap: wrap;
  margin-top: 3%;
}

.card-text {
  font-size: 12px;
  font-family: "InterBold";
}

.card-title {
  font-size: 24px;
  font-family: "InterBold";
}

.homeCardIcon {
  align-self: center;
}

.homeCardIcon img {
  width: 40%;
}

.orangeText {
  color: #FFB742;
}

.orangeName {
  color: #FFB742;

}

#about {
  padding-top: 12%;
}

#skills {
  /* height: 70vh; */
  padding-top: 5%;
}

#skills p{
  margin-top: 3%;
}

#skills button{
  margin-top: 8%;
}

#skills button p{
  margin-top: 1%;
}

.imageCard {
  position: relative;
}

.imageCard img {
  transition: .5s ease;
  backface-visibility: hidden;
  display: block;
}

.imageCard:hover img {
  opacity: 0.3;
}

.imageCard:hover .middle {
  opacity: 1;
}

.imageCard .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imageCard .middle .text {
  color: white;
  font-size: 24px;
}

#portfolio {
  padding-top: 3%;
  text-align: center;
  height: 100%;
}

#portfolio .section-title {
  margin: 0 auto;
}

#footer {
  background: #1C1C1C;
}

#foot {
  /* position: absolute; */
  padding-top: 70px;
  padding-bottom: 50px;
  
}

.footer-contact p {
  color: #D4D4D4;
}

.footer-contact .name {
  color: #FFB742;
  font-weight: bolder;
  font-size: 35px;
  margin-top: -15px;
}

.footer-links p {
  color: #7B7B7B;
}

.footer-links a {
  text-decoration: none;
  color: #7B7B7B;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  line-height: 30px;
  
}

.footer-links h5 {
  color: #f2f2f2;
  font-weight: bold;
}

.footer-links a:hover {
  color: #FFB742;
}

@media (max-width: 480px) {
  .homeCard {
    width: 80%;
    
  }

  .homeCard div {
    margin-right: -35%;
    justify-content:space-around;
    padding-right: 60px;
    margin-bottom: 10px;
  }

  .right-arrow {
    margin-top: 40px;
    margin-left: 30px;
  }

  .little {
    width: 130px !important;
  }

  /* #skills .phone .row {
    width: none;
    max-width: 50%;
  } */

}

/* @media (max-width: 768px) {
  .text {
    font-size: 16px;
  }
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
